## Code

In [1]:
%load_ext ipython_sparql_pandas

In [2]:
from SPARQLWrapper import SPARQLWrapper, JSON
from random import randint
sparql = SPARQLWrapper('http://localhost:7200/repositories/20Q-GPT-Test')
sparql.setReturnFormat(JSON)

In [3]:
#from the query results extract a list that contains the counts after splitting on certain attributes
PosAttr=['?s <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://example.com/popularEntity> .']
NegAttr=[]
AttrHistory = ['<http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://example.com/popularEntity>']

def extractCountAndAttr(result):
    number = []
    listOfObj = []
    listOfPred= []
    #ret = result.queryAndConvert()
    for attr in result["results"]["bindings"]:
        listOfObj.append(attr['o'])
        listOfPred.append(attr['p'])
    return(listOfObj,listOfPred)

def generateQuestion(listOfPred, listOfObj, index, subject):
    flag = True
    if ('<' + str(listOfPred[index]) +'> <'+str(listOfObj[index])+ '>') in AttrHistory:
        return generateQuestion(listOfPred, listOfObj, index+1, subject)
        
    else:
        AttrHistory.append('<' + str(listOfPred[index]['value']) +'> <'+str(listOfObj[index]['value'])+ '>')
        
    #print(f'Does the thing you are looking for have the attribute: {listOfPred[index]["value"].split("/")[-1]} {listOfObj[index]["value"].split("/")[-1]}?' )
    
    try:
        listOfObj[index]['datatype']
    except:
        flag = False
        
    if flag is True:
        datatype = listOfObj[index]["datatype"].split("#")[-1]
        answer = findAnswer(subject, '<' + str(listOfPred[index]['value']) +'>', '"'+str(listOfObj[index]["value"])+'"^^xsd:'+datatype)
    else:
        if len(listOfObj[index]["value"].split('/')) == 1:
            answer = findAnswer(subject, '<' + str(listOfPred[index]['value']) +'>', '"'+str(listOfObj[index]['value'])+ '"')
        else:
            answer = findAnswer(subject, '<' + str(listOfPred[index]['value']) +'>', '<'+str(listOfObj[index]['value'])+ '>')
    #print(answer)
    
    
    if answer:
        if flag is True:
            datatype = listOfObj[index]["datatype"].split("#")[-1]
            PosAttr.append('?s <' + str(listOfPred[index]["value"]) +'> "'+str(listOfObj[index]["value"])+'"^^xsd:'+datatype+'.') 
        else:
            if len(listOfObj[index]["value"].split('/')) == 1:
                PosAttr.append('?s <' + str(listOfPred[index]["value"]) +'> "'+str(listOfObj[index]["value"])+ '".')  
            else:
                PosAttr.append('?s <' + str(listOfPred[index]["value"]) +'> <'+str(listOfObj[index]["value"])+ '>.')    
        
    elif not answer:
        if flag is True:
            datatype = listOfObj[index]["datatype"].split("#")[-1]
            NegAttr.append('FILTER NOT EXISTS {{ \n ?s <' + str(listOfPred[index]["value"]) +'> "'+str(listOfObj[index]["value"])+'"^^xsd:'+datatype+'. }}')
        else:
            if len(listOfObj[index]["value"].split('/')) == 1:
                NegAttr.append('FILTER NOT EXISTS {{ \n ?s <' + str(listOfPred[index]["value"]) +'> "'+str(listOfObj[index]["value"])+ '". }}') 
            else:
                NegAttr.append('FILTER NOT EXISTS {{ \n ?s <' + str(listOfPred[index]["value"]) +'> <'+str(listOfObj[index]["value"])+ '>. }}')   
        
    else:
        return generateQuestion(listOfPred, listOfObj, index+1)
    NegFilters = "\n".join(NegAttr)
    PosFilters = "\n".join(PosAttr)
    return (PosFilters, NegFilters)

  
def updateQuery(left, PosFilters, NegFilters):
    FilterQuestion =  (f"""
            select (count(*) as ?count) ?p ?o  where 
            {{
            
            {PosFilters}
             ?s ?p ?o .
            {NegFilters}
            }} 
            
            group by ?p ?o 
            ORDER BY ABS( {left} - ?count )
            Limit 25
            
            """) 
        
    return FilterQuestion

In [4]:
def pickSubject():
    #ind=randint(0,10000)
    entities = []
    query = f"""
    select distinct ?s
    where {{
        ?s <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://example.com/popularEntity> .
    }}
    """
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    qres = sparql.query().convert() 
    for r in qres["results"]["bindings"]:
        entities.append(r['s']['value'])
        #return("<"+r["s"]["value"]+">")
    #data = pd.read_csv('abstracts.csv')
    return entities

def findAnswer(subject,p,o):
    query = f"""
        SELECT ?s ?p ?o
        WHERE {{
        ?s ?p ?o .
            FILTER(?s = {subject})
            FILTER(?p = {p})
            FILTER(?o = {o})
            }}
            """
    #print(subject)
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    qres = sparql.query().convert() 
    res = qres["results"]["bindings"]
    return (len(res))>0

In [5]:
def numberleft(PosFilters,NegFilters):
    sparql = SPARQLWrapper('http://localhost:7200/repositories/20Q-GPT-Test')
    query =  f"""
            select (count(?s) as ?count) where 
            {{
            {PosFilters}            
            ?s <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://example.com/popularEntity> .
            {NegFilters} 
          }}       
            group by ?p ?o 
            ORDER BY DESC(?count )            
            
            
            """ 
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    qres = sparql.query().convert() 
    for r in qres["results"]["bindings"]:
        left= (r["count"]["value"])
        return(int(left))

In [6]:
def popentities(PosFilters,NegFilters):
    query =  f"""
            select ?s where 
            {{
            
            {PosFilters}
            ?s <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://example.com/popularEntity> .
            {NegFilters} 
            
            }}
            
            """ 
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    qres = sparql.query().convert() 
    return qres["results"]["bindings"]

In [7]:
# resets are variables
def game_reset():
    PosAttr= ['?s <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://example.com/popularEntity> .']
    NegAttr= ['']
    AttrHistory = ['<http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://example.com/popularEntity>']
    left = numberleft("".join(PosAttr), "".join(NegAttr))
    FilterQuestion =  f"""
        select (count(*) as ?count) ?p ?o  where 
        {{

        ?s <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://example.com/popularEntity> .
        ?s ?p ?o .
        }} 
        group by ?p ?o 
        ORDER BY ABS( %s - ?count )
        limit 20
        """ %((left/2))
    sparql.setQuery(FilterQuestion)
    sparql.setReturnFormat(JSON)
    qres = sparql.query().convert()
    listOfObj ,listOfPred = extractCountAndAttr(qres)
    return (left, qres, PosAttr, NegAttr, AttrHistory)

In [8]:
import pandas as pd 
data1 = pd.read_csv('Abstracts-186.csv')
data1 = data1.drop('Unnamed: 0', axis=1)

data1

,Entity,Label,Abstract
0,http://yago-knowledge.org/resource/David_Bowie,David Bowie,David Robert Jones (8 January 1947 – 10 Januar...
1,http://yago-knowledge.org/resource/Kanye_West,Kanye West,Ye (/jeɪ/ YAY; born Kanye Omari West /ˈkɑːnjeɪ...
2,http://yago-knowledge.org/resource/Eminem,Eminem,"Marshall Bruce Mathers III (born October 17, 1..."
3,http://yago-knowledge.org/resource/Jennifer_An...,Jennifer Aniston,"Jennifer Joanna Aniston (born February 11, 196..."
4,http://yago-knowledge.org/resource/George_W._Bush,George W. Bush,"George Walker Bush (born July 6, 1946) is an A..."
...,...,...,...
179,http://yago-knowledge.org/resource/Nancy_Pelosi,Nancy Pelosi,Nancy Patricia Pelosi (/pəˈloʊsi/; née D'Alesa...
180,http://yago-knowledge.org/resource/Andhra_Pradesh,Andhra Pradesh,"Andhra Pradesh (English: /ˌɑːndrə prəˈdɛʃ/, Te..."
181,http://yago-knowledge.org/resource/Maharashtra,Maharashtra,Maharashtra (/məhɑːˈrɑːʃtrə/; Marathi: [məhara...
182,http://yago-knowledge.org/resource/Paris_Saint...,Paris Saint-Germain F.C.,Paris Saint-Germain Football Club (French pron...
183,http://yago-knowledge.org/resource/Uttar_Pradesh,Uttar Pradesh,Uttar Pradesh (/ˌʊtər prəˈdɛʃ/; Hindi: [ˈʊtːəɾ...

In [9]:
import random
import pandas as pd
random.seed(10)
wincount = 0
subjects_lost = []
gamesplayed = 0
lostbybreak = 0
breakskip = 0
subjects = data1['Entity'][gamesplayed:]
totalgames = len(subjects)
results = []

In [10]:
while gamesplayed < totalgames:
    # Resets all variables
    try:
        left,qres,PosAttr,NegAttr,AttrHistory = game_reset()
        i=0
        outofguess = []
        #print(gamesplayed)
        # pick subject
        subject = "<" + subjects[gamesplayed] + ">"
        #print(subject)

        while i < 20:

            # list of Pred and Obj for questions
            listOfObj ,listOfPred = extractCountAndAttr(qres)

            # if only 1 popular entity is left break
            if left<=1:
                break

            # ask question and add filters to query
            #print('Question: %s' %(i+1))
            PosFilters, NegFilters = generateQuestion(listOfPred, listOfObj, 0, subject)

            # number of popular entities left
            left = numberleft(PosFilters, NegFilters)
            #print('left -',left)

            # run query
            sparql = SPARQLWrapper('http://localhost:7200/repositories/20Q-GPT-Test')
            query = updateQuery(left/2,PosFilters, NegFilters)
            sparql.setQuery(query)
            sparql.setReturnFormat(JSON)
            qres = sparql.queryAndConvert()

            i+=1

        # Prints answer
        if i != 20:
            for attr in popentities(PosFilters, NegFilters):
                for x in [attr['s']['value']][0:10]:
                    answer = (x.split("/")[-1])
            #print("Your Answer is: " + answer)
            if str(answer.split("/")[-1] + ">") == str(subject.split("/")[-1]):
                wincount += 1
                gamesplayed += 1
                results.append(i)
                #results.append({'Subject': subject.split("/")[-1].split('>')[0], 'Questions-C': i})
                print(gamesplayed,{'Subject': subject.split("/")[-1].split('>')[0], 'Questions-C': i})
                print('%s/%s' %(wincount,gamesplayed))
                print()
            else:
                gamesplayed += 1
                subjects_lost.append(subject)
                results.append(i)
                #results.append({'Subject': subject.split("/")[-1].split('>')[0], 'Questions-C': i})
                print(gamesplayed,{'Subject': subject.split("/")[-1].split('>')[0], 'Questions-C': i})
                print('%s/%s' %(wincount,gamesplayed))
                print()

        # ran out of questions
        else:
            #print('Final Question:')
            for j in popentities(PosFilters, NegFilters):
                    outofguess.append(f'{j["s"]["value"].split("/")[-1]}')
            guess = random.choice(outofguess)
            #print("Is it " + guess + "?")
            if str(subject.split("/")[-1]) == str(guess + ">"):
                wincount += 1
                gamesplayed += 1
                #results.append({'Subject': subject.split("/")[-1].split('>')[0], 'Questions-C': 20})
                results.append(20)
                print(gamesplayed,{'Subject': subject.split("/")[-1].split('>')[0], 'Questions-C': 20})
                print('%s/%s' %(wincount,gamesplayed))
                print()
            else:
                gamesplayed += 1
                subjects_lost.append(subject)
                #results.append({'Subject': subject.split("/")[-1].split('>')[0], 'Questions-C': 20})
                results.append(20)
                print(gamesplayed, {'Subject': subject.split("/")[-1].split('>')[0], 'Questions-C': 20})
                print('%s/%s' %(wincount,gamesplayed))
                print()
        breakskip = 0
    except KeyboardInterrupt:
        breakf
    except:
        continue
            
print("\nTournament ended! I have guessed " + str(wincount) + " out of " + str(gamesplayed) + " things correctly.")

1 {'Subject': 'David_Bowie', 'Questions-C': 7}
1/1

2 {'Subject': 'Kanye_West', 'Questions-C': 7}
2/2

3 {'Subject': 'Eminem', 'Questions-C': 9}
3/3

4 {'Subject': 'Jennifer_Aniston', 'Questions-C': 7}
4/4

5 {'Subject': 'George_W._Bush', 'Questions-C': 8}
5/5

6 {'Subject': 'Prince_(musician)', 'Questions-C': 8}
6/6

7 {'Subject': 'Justin_Bieber', 'Questions-C': 7}
7/7

8 {'Subject': 'Drake_(musician)', 'Questions-C': 6}
8/8

9 {'Subject': 'Heath_Ledger', 'Questions-C': 7}
9/9

10 {'Subject': 'John_Krasinski', 'Questions-C': 7}
10/10

11 {'Subject': 'Val_Kilmer', 'Questions-C': 7}
11/11

12 {'Subject': 'American_Horror_Story', 'Questions-C': 7}
12/12

13 {'Subject': 'Brad_Pitt', 'Questions-C': 7}
13/13

14 {'Subject': 'Japan', 'Questions-C': 7}
14/14

15 {'Subject': 'Barack_Obama', 'Questions-C': 7}
15/15

16 {'Subject': 'Bill_Clinton', 'Questions-C': 7}
16/16

17 {'Subject': 'Donald_Trump', 'Questions-C': 8}
17/17

18 {'Subject': 'Jimmy_Carter', 'Questions-C': 8}
18/18

19 {'Subject': 'Martin_Luther_King_Jr.', 'Questions-C': 7}
19/19

20 {'Subject': 'Ronald_Reagan', 'Questions-C': 11}
20/20

21 {'Subject': 'Germany', 'Questions-C': 7}
21/21

22 {'Subject': 'Matthew_Perry', 'Questions-C': 7}
22/22

23 {'Subject': 'Vietnam_War', 'Questions-C': 8}
23/23

24 {'Subject': 'The_Walking_Dead_(TV_series)', 'Questions-C': 8}
24/24

25 {'Subject': 'London', 'Questions-C': 8}
25/25

26 {'Subject': 'World_War_I', 'Questions-C': 10}
26/26

27 {'Subject': 'California', 'Questions-C': 7}
27/27

28 {'Subject': 'The_Beatles', 'Questions-C': 9}
28/28

29 {'Subject': 'Robert_Downey_Jr.', 'Questions-C': 8}
29/29

30 {'Subject': 'Roger_Federer', 'Questions-C': 8}
30/30

31 {'Subject': 'Marilyn_Manson', 'Questions-C': 9}
31/31

32 {'Subject': 'Ben_Affleck', 'Questions-C': 7}
32/32

33 {'Subject': 'India', 'Questions-C': 7}
33/33

34 {'Subject': 'Serena_Williams', 'Questions-C': 8}
34/34

35 {'Subject': 'Novak_Djokovic', 'Questions-C': 8}
35/35

36 {'Subject': 'China', 'Questions-C': 8}
36/36

37 {'Subject': 'France', 'Questions-C': 8}
37/37

38 {'Subject': 'Michael_Jackson', 'Questions-C': 7}
38/38

39 {'Subject': 'Nicolas_Cage', 'Questions-C': 8}
39/39

40 {'Subject': 'Johnny_Depp', 'Questions-C': 6}
40/40

41 {'Subject': 'South_Africa', 'Questions-C': 8}
41/41

42 {'Subject': 'Tobey_Maguire', 'Questions-C': 9}
42/42

43 {'Subject': 'Sandra_Bullock', 'Questions-C': 7}
43/43

44 {'Subject': 'Paul_Walker', 'Questions-C': 8}
44/44

45 {'Subject': 'Mark_Wahlberg', 'Questions-C': 7}
45/45

46 {'Subject': 'New_Zealand', 'Questions-C': 8}
46/46

47 {'Subject': 'Alec_Baldwin', 'Questions-C': 8}
47/47

48 {'Subject': 'Rachel_Weisz', 'Questions-C': 8}
48/48

49 {'Subject': 'Stanley_Tucci', 'Questions-C': 8}
49/49

50 {'Subject': 'Keanu_Reeves', 'Questions-C': 8}
50/50

51 {'Subject': 'Frank_Sinatra', 'Questions-C': 7}
51/51

52 {'Subject': 'Salma_Hayek', 'Questions-C': 8}
52/52

53 {'Subject': 'Ryan_Reynolds', 'Questions-C': 8}
53/53

54 {'Subject': 'Snoop_Dogg', 'Questions-C': 7}
54/54

55 {'Subject': 'Priyanka_Chopra', 'Questions-C': 7}
55/55

56 {'Subject': 'Ernest_Hemingway', 'Questions-C': 7}
56/56

57 {'Subject': 'Brittany_Murphy', 'Questions-C': 7}
57/57

58 {'Subject': 'Lady_Gaga', 'Questions-C': 8}
58/58

59 {'Subject': 'Robin_Williams', 'Questions-C': 7}
59/59

60 {'Subject': 'Will_Smith', 'Questions-C': 8}
60/60

61 {'Subject': 'Mila_Kunis', 'Questions-C': 8}
61/61

62 {'Subject': 'Quentin_Tarantino', 'Questions-C': 8}
62/62

63 {'Subject': 'Tom_Hanks', 'Questions-C': 8}
63/63

64 {'Subject': 'American_Civil_War', 'Questions-C': 9}
64/64

65 {'Subject': 'Winston_Churchill', 'Questions-C': 9}
65/65

66 {'Subject': 'Netherlands', 'Questions-C': 7}
66/66

67 {'Subject': 'Stephen_Hawking', 'Questions-C': 8}
67/67

68 {'Subject': 'Arnold_Schwarzenegger', 'Questions-C': 7}
68/68

69 {'Subject': 'Clint_Eastwood', 'Questions-C': 7}
69/69

70 {'Subject': 'Julia_Roberts', 'Questions-C': 8}
70/70

71 {'Subject': 'Sylvester_Stallone', 'Questions-C': 8}
71/71

72 {'Subject': "Grey's_Anatomy", 'Questions-C': 7}
72/72

73 {'Subject': 'Judy_Garland', 'Questions-C': 7}
73/73

74 {'Subject': 'Canada', 'Questions-C': 8}
74/74

75 {'Subject': 'Jake_Gyllenhaal', 'Questions-C': 8}
75/75

76 {'Subject': 'Betty_White', 'Questions-C': 7}
76/76

77 {'Subject': 'Tom_Cruise', 'Questions-C': 8}
77/77

78 {'Subject': 'Game_of_Thrones', 'Questions-C': 7}
78/78

79 {'Subject': 'Jason_Sudeikis', 'Questions-C': 12}
79/79

80 {'Subject': 'Scarlett_Johansson', 'Questions-C': 8}
80/80

81 {'Subject': 'George_Harrison', 'Questions-C': 7}
81/81

82 {'Subject': 'Daniel_Craig', 'Questions-C': 7}
82/82

83 {'Subject': 'Kate_Winslet', 'Questions-C': 8}
83/83

84 {'Subject': 'Elvis_Presley', 'Questions-C': 6}
84/84

85 {'Subject': 'William_Shakespeare', 'Questions-C': 7}
85/85

86 {'Subject': 'Vin_Diesel', 'Questions-C': 8}
86/86

87 {'Subject': 'Angelina_Jolie', 'Questions-C': 8}
87/87

88 {'Subject': 'Britney_Spears', 'Questions-C': 7}
88/88

89 {'Subject': 'Emily_Blunt', 'Questions-C': 7}
89/89

90 {'Subject': 'Selena_Gomez', 'Questions-C': 8}
90/90

91 {'Subject': 'Blake_Lively', 'Questions-C': 8}
91/91

92 {'Subject': 'Marilyn_Monroe', 'Questions-C': 8}
92/92

93 {'Subject': 'Matthew_McConaughey', 'Questions-C': 7}
93/93

94 {'Subject': 'Dwayne_Johnson', 'Questions-C': 8}
94/94

95 {'Subject': 'Freddie_Mercury', 'Questions-C': 7}
95/95

96 {'Subject': 'Tom_Hardy', 'Questions-C': 8}
96/96

97 {'Subject': 'Dilip_Kumar', 'Questions-C': 8}
97/97

98 {'Subject': 'Queen_Victoria', 'Questions-C': 8}
98/98

99 {'Subject': 'Tupac_Shakur', 'Questions-C': 7}
99/99

100 {'Subject': 'Abraham_Lincoln', 'Questions-C': 8}
100/100

101 {'Subject': 'Macaulay_Culkin', 'Questions-C': 8}
101/101

102 {'Subject': 'Alexander_the_Great', 'Questions-C': 8}
102/102

103 {'Subject': 'Kristen_Stewart', 'Questions-C': 8}
103/103

104 {'Subject': 'Google', 'Questions-C': 8}
104/104

105 {'Subject': 'Albert_Einstein', 'Questions-C': 7}
105/105

106 {'Subject': 'President_of_the_United_States', 'Questions-C': 6}
106/106

107 {'Subject': 'Adele', 'Questions-C': 6}
107/107

108 {'Subject': 'Nicki_Minaj', 'Questions-C': 7}
108/108

109 {'Subject': 'Emma_Stone', 'Questions-C': 8}
109/109

110 {'Subject': 'Olivia_Wilde', 'Questions-C': 8}
110/110

111 {'Subject': 'Audrey_Hepburn', 'Questions-C': 7}
111/111

112 {'Subject': 'Aretha_Franklin', 'Questions-C': 7}
112/112

113 {'Subject': 'Jennifer_Lawrence', 'Questions-C': 8}
113/113

114 {'Subject': 'Adolf_Hitler', 'Questions-C': 7}
114/114

115 {'Subject': 'Rihanna', 'Questions-C': 7}
115/115

116 {'Subject': 'Carey_Mulligan', 'Questions-C': 7}
116/116

117 {'Subject': 'Bruce_Lee', 'Questions-C': 8}
117/117

118 {'Subject': 'Jennifer_Lopez', 'Questions-C': 7}
118/118

119 {'Subject': 'Australia', 'Questions-C': 8}
119/119

120 {'Subject': 'Soviet_Union', 'Questions-C': 8}
120/120

121 {'Subject': 'Android_(operating_system)', 'Questions-C': 7}
121/121

122 {'Subject': 'Taiwan', 'Questions-C': 8}
122/122

123 {'Subject': 'Aaliyah', 'Questions-C': 13}
123/123

124 {'Subject': 'Chris_Evans_(actor)', 'Questions-C': 7}
124/124

125 {'Subject': 'John_F._Kennedy', 'Questions-C': 8}
125/125

126 {'Subject': 'Leonardo_DiCaprio', 'Questions-C': 7}
126/126

127 {'Subject': 'Jason_Momoa', 'Questions-C': 8}
127/127

128 {'Subject': 'Nicole_Kidman', 'Questions-C': 8}
128/128

129 {'Subject': 'Israel', 'Questions-C': 8}
129/129

130 {'Subject': 'Turkey', 'Questions-C': 8}
130/130

131 {'Subject': 'Elton_John', 'Questions-C': 7}
131/131

132 {'Subject': 'George_Washington', 'Questions-C': 8}
132/132

133 {'Subject': 'Microsoft_Windows', 'Questions-C': 8}
133/133

134 {'Subject': 'Taylor_Swift', 'Questions-C': 8}
134/134

135 {'Subject': 'Nelson_Mandela', 'Questions-C': 8}
135/135

136 {'Subject': 'Megan_Fox', 'Questions-C': 10}
136/136

137 {'Subject': 'Emma_Watson', 'Questions-C': 8}
137/137

138 {'Subject': 'Tina_Turner', 'Questions-C': 7}
138/138

139 {'Subject': 'Margaret_Thatcher', 'Questions-C': 7}
139/139

140 {'Subject': 'Napoleon', 'Questions-C': 8}
140/140

141 {'Subject': "Shaquille_O'Neal", 'Questions-C': 7}
141/141

142 {'Subject': 'Franklin_D._Roosevelt', 'Questions-C': 8}
142/142

143 {'Subject': 'Afghanistan', 'Questions-C': 8}
143/143

144 {'Subject': 'Demi_Lovato', 'Questions-C': 7}
144/144

145 {'Subject': 'Joseph_Stalin', 'Questions-C': 8}
145/145

146 {'Subject': 'Russia', 'Questions-C': 8}
146/146

147 {'Subject': 'Philippines', 'Questions-C': 8}
147/147

148 {'Subject': 'Chelsea_F.C.', 'Questions-C': 7}
148/148

149 {'Subject': 'Tamil_Nadu', 'Questions-C': 8}
149/149

150 {'Subject': 'Elizabeth_II', 'Questions-C': 8}
150/150

151 {'Subject': 'Mahatma_Gandhi', 'Questions-C': 8}
151/151

152 {'Subject': 'MacOS', 'Questions-C': 8}
152/152

153 {'Subject': 'Kobe_Bryant', 'Questions-C': 8}
153/153

154 {'Subject': 'Kim_Kardashian', 'Questions-C': 8}
154/154

155 {'Subject': 'Ottoman_Empire', 'Questions-C': 8}
155/155

156 {'Subject': 'England_national_football_team', 'Questions-C': 9}
156/156

157 {'Subject': 'Tom_Brady', 'Questions-C': 9}
157/157

158 {'Subject': 'Travis_Barker', 'Questions-C': 7}
158/158

159 {'Subject': 'George_V', 'Questions-C': 8}
159/159

160 {'Subject': 'Michael_Jordan', 'Questions-C': 9}
160/160

161 {'Subject': 'Pakistan', 'Questions-C': 8}
161/161

162 {'Subject': 'Steve_Jobs', 'Questions-C': 7}
162/162

163 {'Subject': 'LeBron_James', 'Questions-C': 8}
163/163

164 {'Subject': 'Singapore', 'Questions-C': 8}
164/164

165 {'Subject': 'Friends', 'Questions-C': 8}
165/165

166 {'Subject': 'Joe_Biden', 'Questions-C': 7}
166/166

167 {'Subject': 'John_Lennon', 'Questions-C': 7}
167/167

168 {'Subject': 'New_York_City', 'Questions-C': 8}
168/168

169 {'Subject': 'English_language', 'Questions-C': 10}
169/169

170 {'Subject': 'United_Kingdom', 'Questions-C': 8}
170/170

171 {'Subject': 'Manchester_City_F.C.', 'Questions-C': 8}
171/171

172 {'Subject': 'Manchester_United_F.C.', 'Questions-C': 9}
172/172

173 {'Subject': 'Lionel_Messi', 'Questions-C': 8}
173/173

174 {'Subject': 'Myanmar', 'Questions-C': 8}
174/174

175 {'Subject': 'Paul_McCartney', 'Questions-C': 7}
175/175

176 {'Subject': 'The_Matrix', 'Questions-C': 7}
176/176

177 {'Subject': 'Neymar', 'Questions-C': 8}
177/177

178 {'Subject': 'XXX_(2002_film)', 'Questions-C': 7}
178/178

179 {'Subject': 'United_States', 'Questions-C': 7}
179/179

180 {'Subject': 'Nancy_Pelosi', 'Questions-C': 8}
180/180

181 {'Subject': 'Andhra_Pradesh', 'Questions-C': 8}
181/181

182 {'Subject': 'Maharashtra', 'Questions-C': 8}
182/182

183 {'Subject': 'Paris_Saint-Germain_F.C.', 'Questions-C': 9}
183/183

184 {'Subject': 'Uttar_Pradesh', 'Questions-C': 8}
184/184


Tournament ended! I have guessed 184 out of 184 things correctly.

In [14]:
# if literal is less than 2-3 words make a link version
import pandas as pd 
thesis_results = pd.read_csv('ThesisResults.csv')
thesis_results = thesis_results.drop('Unnamed: 0', axis=1)

thesis_results

,Subject,Questions-C,Questions-Base,Questions-S,Questions-GPT
0,David_Bowie,7,7,7,7
1,Kanye_West,6,6,7,7
2,Eminem,7,8,8,9
3,Jennifer_Aniston,7,7,7,7
4,George_W._Bush,7,7,7,7
...,...,...,...,...,...
179,Nancy_Pelosi,8,8,8,8
180,Andhra_Pradesh,8,8,8,8
181,Maharashtra,8,8,7,8
182,Paris_Saint-Germain_F.C.,9,9,8,9
183,Uttar_Pradesh,8,8,8,8

In [12]:
#9/21 - ClauCy
#11/21 - Stanford
#thesis_results = pd.DataFrame(results)
thesis_results['Questions-GPT2'] = results
thesis_results
#thesis_results.to_csv('ThesisResults.csv')

,Subject,Questions-C,Questions-Base,Questions-S,Questions-GPT,Questions-GPT2
0,David_Bowie,7,7,7,7,7
1,Kanye_West,6,6,7,7,7
2,Eminem,7,8,8,9,9
3,Jennifer_Aniston,7,7,7,7,7
4,George_W._Bush,7,7,7,7,8
...,...,...,...,...,...,...
179,Nancy_Pelosi,8,8,8,8,8
180,Andhra_Pradesh,8,8,8,8,8
181,Maharashtra,8,8,7,8,8
182,Paris_Saint-Germain_F.C.,9,9,8,9,9
183,Uttar_Pradesh,8,8,8,8,8

In [5]:
import pandas as pd 
data1 = pd.read_csv('ThesisResults.csv')
data1 = data1.drop('Unnamed: 0', axis=1)
#data1 = data1.drop('Questions-GPT2', axis=1)
#data1.to_csv('betterThesisResults.csv')
data1
#data1.T.to_csv('flippedata.csv')

,Subject,Questions-C,Questions-Base,Questions-S,Questions-GPT
0,David_Bowie,7,7,7,7
1,Kanye_West,6,6,7,7
2,Eminem,7,8,8,9
3,Jennifer_Aniston,7,7,7,7
4,George_W._Bush,7,7,7,7
...,...,...,...,...,...
179,Nancy_Pelosi,8,8,8,8
180,Andhra_Pradesh,8,8,8,8
181,Maharashtra,8,8,7,8
182,Paris_Saint-Germain_F.C.,9,9,8,9
183,Uttar_Pradesh,8,8,8,8

In [9]:
datas = []
for s,c,b,st,g in data1.values:
    datas.append({'Model': 'Base', 'Subject': s, 'Questions': b})
    datas.append({'Model': 'ClauCy', 'Subject': s, 'Questions': c})
    datas.append({'Model': 'Stanford', 'Subject': s, 'Questions': st})
    datas.append({'Model': 'GPT', 'Subject': s, 'Questions': g})
    
d = pd.DataFrame(datas)
d.to_csv('thesisdata3.csv')

In [12]:
clcy = 0
stan = 0
gpt = 0
base = 0

for _,c,b,s,g in data1.values:
    clcy += c
    stan += s
    gpt += g
    base += b

base,clcy,stan,gpt

(1446, 1431, 1426, 1425)

In [ ]:
basetie = 0
base = 0
gptbase = 0

clcytie = 0
clcy = 0
gptclcy = 0

stantie = 0
stan = 0
gptstan = 0

basetie2 = 0
base2 = 0
gptbase2 = 0

clcytie2 = 0
clcy2 = 0
gptclcy2 = 0

stantie2 = 0
stan2 = 0
gptstan2 = 0

gpt2score = 0
gptscore = 0
gpttie = 0


for _,c,b,s,gpt,gpt2 in thesis_results.values:
    if b == gpt:
        basetie += 1
    elif gpt > b:
        base += 1
    else:
        gptbase += 1
        
    if c == gpt:
        clcytie += 1
    elif gpt > c:
        clcy += 1
    else:
        gptclcy += 1
        
    if s == gpt:
        stantie += 1
    elif gpt > s:
        stan += 1
    else:
        gptstan += 1
    
    if b == gpt2:
        basetie2 += 1
    elif gpt2 > b:
        base2 += 1
    else:
        gptbase2 += 1
        
    if c == gpt2:
        clcytie2 += 1
    elif gpt2 > c:
        clcy2 += 1
    else:
        gptclcy2 += 1
        
    if s == gpt2:
        stantie2 += 1
    elif gpt2 > s:
        stan2 += 1
    else:
        gptstan2 += 1
        
    if gpt == gpt2:
        gpttie += 1
    elif gpt2 > gpt:
        gptscore += 1
    else:
        gpt2score += 1
        
print('GPT-Base:')
print('gpt score:',gptbase,'-base score:', base,'-tie score:', basetie) 
print('gpt %:', round((gptbase/(gptbase+base+basetie))*100,2))
print('base %:', round((base/(gptbase+base+basetie))*100,2))
print('tie %:', round((basetie/(gptbase+base+basetie))*100,2))
if gptbase > base:
    print('GPT best')
else:
    print('Not best')
print()
print('GPT-ClCy:')
print('gpt score:',gptclcy,'-ClCy score:', clcy,'-tie score:', clcytie) 
print('gpt %:', round((gptclcy/(gptclcy+clcy+clcytie))*100,2))
print('clcy %:', round((clcy/(gptclcy+clcy+clcytie))*100,2))
print('tie %:', round((clcytie/(gptclcy+clcy+clcytie))*100,2))
if gptclcy > clcy:
    print('GPT best')
else:
    print('Not best')
print()
print('GPT-Stanford:')
print('gpt score:',gptstan,'-Stanford score:', stan,'-tie score:', stantie) 
print('gpt %:', round((gptstan/(gptstan+stan+stantie))*100,2))
print('stan %:', round((stan/(gptstan+stan+stantie))*100,2))
print('tie %:', round((stantie/(gptstan+stan+stantie))*100,2))
if gptstan > stan:
    print('GPT best')
else:
    print('Not best')
print()
print()
print('GPT2-Base:')
print('gpt2 score:',gptbase2,'-base score:', base2,'-tie score:', basetie2) 
print('gpt2 %:', round((gptbase2/(gptbase2+base2+basetie2))*100,2))
print('base %:', round((base2/(gptbase2+base2+basetie2))*100,2))
print('tie %:', round((basetie2/(gptbase2+base2+basetie2))*100,2))
if gptbase2 > base2:
    print('GPT2 best')
else:
    print('Not best')
print()
print('GPT2-ClCy:')
print('gpt2 score:',gptclcy2,'-ClCy score:', clcy2,'-tie score:', clcytie2) 
print('gpt2 %:', round((gptclcy2/(gptclcy2+clcy2+clcytie2))*100,2))
print('clcy %:', round((clcy2/(gptclcy2+clcy2+clcytie2))*100,2))
print('tie %:', round((clcytie2/(gptclcy2+clcy2+clcytie2))*100,2))
if gptclcy2 > clcy2:
    print('GPT2 best')
else:
    print('Not best')
print()
print('GPT2-Stanford:')
print('gpt2 score:',gptstan2,'-Stanford score:', stan2,'-tie score:', stantie2) 
print('gpt2 %:', round((gptstan2/(gptstan2+stan2+stantie2))*100,2))
print('stan %:', round((stan/(gptstan2+stan2+stantie2))*100,2))
print('tie %:', round((stantie/(gptstan2+stan2+stantie2))*100,2))
if gptstan2 > stan2:
    print('GPT2 best')
else:
    print('Not best')
print()
print()
print()
print('GPT2-GPT:')
print('gpt2 score:',gpt2score,'-Stanford score:', gptscore,'-tie score:', gpttie) 
print('gpt2 %:', round((gpt2score/(gpt2score+gptscore+gpttie))*100,2))
print('gpt %:', round((gptscore/(gpt2score+gptscore+gpttie))*100,2))
print('tie %:', round((gpttie/(gpt2score+gptscore+gpttie))*100,2))
if gpt2score > gptscore:
    print('GPT2 best')
else:
    print('GPT best')
# MAKE THIS A FUNCTION (WAY TOO LONG)

In [15]:
def results( results1, results2, label1, label2 ):
    score1 = 0
    score2 = 0
    tie = 0
    for res1,res2 in zip( results1, results2 ):
        if res1 == res2:
            tie += 1
        elif res1 > res2:
            score2 += 1
        else:
            score1 += 1
    
    print( '%s-%s:' %( label1.upper(), label2.upper() ) )
    print( '%s score:' %( label1 ), score1, '-%s score:' %( label2 ), score2, '-tie score:', tie ) 
    print( '%s:' %(label1), round( ( score1/( score1+score2+tie ) ) *100,2 ) )
    print( '%s:' %(label2), round( ( score2/( score1+score2+tie ) ) *100,2 ) )
    print( 'tie %:', round( ( tie/( score1+score2+tie ) ) *100,2 ) )
    if score1 > score2:
        print( '%s best' %( label1.upper() ) )
    else:
        print( '%s best' %( label2.upper() ) )
    #return [score1,score2,tie]
    return

results( thesis_results['Questions-GPT'], thesis_results['Questions-Base'], 'gpt', 'base' )
print()
results( thesis_results['Questions-GPT'], thesis_results['Questions-C'], 'gpt', 'clcy' ) 
print()
results( thesis_results['Questions-GPT'], thesis_results['Questions-S'], 'gpt', 'stan' )
print()
results( thesis_results['Questions-C'], thesis_results['Questions-Base'], 'clcy', 'base' )
print()
results( thesis_results['Questions-S'], thesis_results['Questions-Base'], 'stan', 'base' )
print()
results( thesis_results['Questions-S'], thesis_results['Questions-C'], 'stan', 'clcy' )

GPT-BASE:
gpt score: 49 -base score: 39 -tie score: 96
gpt: 26.63
base: 21.2
tie %: 52.17
GPT best

GPT-CLCY:
gpt score: 52 -clcy score: 46 -tie score: 86
gpt: 28.26
clcy: 25.0
tie %: 46.74
GPT best

GPT-STAN:
gpt score: 50 -stan score: 45 -tie score: 89
gpt: 27.17
stan: 24.46
tie %: 48.37
GPT best

CLCY-BASE:
clcy score: 20 -base score: 22 -tie score: 142
clcy: 10.87
base: 11.96
tie %: 77.17
BASE best

STAN-BASE:
stan score: 29 -base score: 26 -tie score: 129
stan: 15.76
base: 14.13
tie %: 70.11
STAN best

STAN-CLCY:
stan score: 36 -clcy score: 33 -tie score: 115
stan: 19.57
clcy: 17.93
tie %: 62.5
STAN best

In [33]:
s = 0
g = 0
c = 0
tie = 0
gs_tie = 0
gc_tie = 0
sc_tie = 0

for _,clcy,base,stan,gpt in thesis_results.values:
    if stan == gpt and gpt == clcy:
        #s += 1
        #g += 1
        #c += 1
        tie += 1 
    elif stan == gpt and stan < clcy:
        #s += 1
        #g += 1
        gs_tie += 1 
    elif stan == clcy and gpt > clcy:
        #s += 1
        #c += 1
        #print(stan,clcy,gpt)
        sc_tie += 1
    elif gpt == clcy and gpt < stan:
        #g += 1
        #c += 1
        gc_tie += 1
    elif gpt < stan and gpt < clcy:
        g += 1
    elif stan < gpt and stan < clcy:
        s += 1 
    elif clcy < gpt and clcy < stan:
        c += 1 
print('clcy:',c,'- Stan:',s,'- GPT:',g,'- tie:',tie,'- gptstan-tie:',gs_tie,'- gptclcy-tie:',gc_tie,'- stanclcy:',sc_tie) 
print(c+tie+gc_tie+sc_tie)
print(s+tie+gs_tie+sc_tie)
print(g+tie+gs_tie+gc_tie)
print()
print(round(20/(20+18+35+62+13+12+24)*100,1))
print(round(18/(20+18+35+62+13+12+24)*100,1))
print(round(35/(20+18+35+62+13+12+24)*100,1))

clcy: 20 - Stan: 18 - GPT: 35 - tie: 62 - gptstan-tie: 13 - gptclcy-tie: 12 - stanclcy: 24
118
117
122

10.9
9.8
19.0

In [ ]:
sub = []
for i in subjects_lost:
    i = i.split('<')[1]
    i = i.split('>')[0]
    sub.append("%s" %(i))
sub

In [ ]:
import random
import pandas as pd
random.seed(10)
#subjects = pickSubject()
wincount = 0
subjects_lost = []
gamesplayed = 0
lostbybreak = 0
breakskip = 0
#totalgames = len(subjects)

left,qres,PosAttr,NegAttr,AttrHistory = game_reset()
i=0
outofguess = []
subject = "<http://yago-knowledge.org/resource/Jesse_Metcalfe>"
print(subject)

while i < 20:

    # list of Pred and Obj for questions
    listOfObj ,listOfPred = extractCountAndAttr(qres)

    # if only 1 popular entity is left break
    if left<=1:
        break

    # ask question and add filters to query
    #print('Question: %s' %(i+1))
    PosFilters, NegFilters = generateQuestion(listOfPred, listOfObj, 0, subject)

    # number of popular entities left
    left = numberleft(PosFilters, NegFilters)

    # run query
    sparql = SPARQLWrapper('http://localhost:7200/repositories/20Q-GPT-Test')
    query = updateQuery(left/2,PosFilters, NegFilters)
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    qres = sparql.queryAndConvert()

    i+=1

# Prints answer
if i != 20:
    for attr in popentities(PosFilters, NegFilters):
        for x in [attr['s']['value']][0:10]:
            answer = (x.split("/")[-1])
    print("Your Answer is: " + answer)
    if str(answer.split("/")[-1] + ">") == str(subject.split("/")[-1]):
        wincount += 1
        gamesplayed += 1
        #print("Win!")
        #print('%s/%s' %(wincount,gamesplayed))
        #print()
    else:
        gamesplayed += 1
        subjects_lost.append(subject)
        print("Lose...")
        print('%s/%s' %(wincount,gamesplayed))
        print()

# ran out of questions
else:
    print('Final Question:')
    for j in popentities(PosFilters, NegFilters):
            outofguess.append(f'{j["s"]["value"].split("/")[-1]}')
    guess = random.choice(outofguess)
    print("Is it " + guess + "?")
    if str(subject.split("/")[-1]) == str(guess + ">"):
        wincount += 1
        gamesplayed += 1
        #print('Win!')
        #print('%s/%s' %(wincount,gamesplayed))
        #print()
    else:
        gamesplayed += 1
        subjects_lost.append(subject)
        print('Lose...')
        print('%s/%s' %(wincount,gamesplayed))
        print()
breakskip = 0
   
            
print("\nTournament ended! I have guessed " + str(wincount) + " out of " + str(gamesplayed) + " things correctly.")

#### Seeds used:
- 10
- ??
- ??

#### Time started:
- 10
    - base model
        - 22:50

In [ ]:
len('ALL'.split('/'))